.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: lightgray;
    min-height: 100%;
    padding: 25px;
    gap: 25px;;
  }
  .grid-item {
    display: flex;
    flex-direction: column;
    background-color: white;
    font-size: 30px;
    text-align: center;
  }
  button{
    padding-top: 10%;
    text-align: left;
    border:lightgray;
    background-color: lightgray;
    height: fit-content;
    vertical-align: middle;
    align-self: center;
  }
 .inner-txt{
   
   padding-top: 10%;
   font-size: 20px;
  }
  .card-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
  }
  .card-header{
    width: 100%;
    height: fit-content;
  }
  .text-item{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: middle;
    max-height: fit-content;
    font-size: x-large;
    width: 100%;
  
  }
  .text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    vertical-align: middle;
    max-height: fit-content;
  
  }
  i{
    padding-top: 10%;
  }